#loader{
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

body{
    background-color: #18122B;
}

/* #info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
} */

#header{
    width: 100%;
    height: 12vh;
    display: flex;
    padding: 15px 25px 15px 25px;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: solid 1px #ccba1a;
    position: fixed;
    background-color: #18122B;
    z-index: 2;
}

#header #profile{
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#header #logo{
    width: 100px;
    height: 100px;
}

#header i{
    font-size: 2em;
    cursor: pointer;
}

#posts{
    height: 100vh;
    width: 100%;
    padding: 100px 30px 0 20px;
}

#make-post{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    z-index: 2;
    background-color: #ccba1a;
    position: fixed;
    top: 95%;
    left: 95%;
    transform: translate(-95%, -95%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#make-post i{
    font-size: 1.5em;
}

.post{
    color: white;
    width: 80%;
    position: relative;
    right: 50%;
    transform: translateX(50%);
}

.post .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
}

.post .info .head{
    display: flex;
    align-items: center;
    gap: 20px;
}

.post .info .head img{
    border-radius: 100px;
    width: 60px;
    cursor: pointer;
}

.post-content{
    margin: 0 30px 0 30px;
    color: rgb(224, 224, 224);
    font-weight: 300;
    font-size: 1.15em;
}

.interact{
    margin: 10px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.interact div{
    font-size: 1.5em;
}

.interact a{
    color: white;
}

.info .head div p{
    color: rgb(190, 190, 190);
}

button{
    background-color: #28213E;
    color: white;
    border: #635985 solid 1px;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    width: 100px;
}

.sep{
    background-color: #635985;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.unlike i{
    color: #ccba1a;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #18122B #2E2645;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #18122B;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2E2645;
    border-radius: 15px;
    border: 0px solid #ffffff;
  }








@media only screen and (max-width:641px) {
    .post{
        width: 100%;
    }

    .post-content{
        margin: 0;
    }

    .post .info{
        padding: 10px 0 10px 0;
    }
}